#stat-us-max-settings-window div.flex-container.flex-column,
#stat-us-max-settings-window label.flex-container.flex-column {
	flex-direction: column;
	align-items: normal;
}

#stat-us-max-settings-window div.flex-container,
#stat-us-max-settings-window label.flex-container {
	align-items: center;
	flex-wrap: nowrap;
}

#stat-us-max-settings-window  .separator-bottom {
	border-bottom: 1px solid #2a2a2a;
	padding-bottom: 1vh;
	margin-bottom: 1vh;
	border-radius: 1vh;
}

@media screen and (max-width: 1000px) {
    .popup.wide_dialogue_popup:has(.stat-us-max-popup) {
        width: 97vw !important;
    }
}

@media screen and (max-width: 1900px) {
    .popup.wide_dialogue_popup:has(.stat-us-max-popup) {
        width: 90vw;
    }
}

.popup:has(.stat-us-max-popup) {
    background-color: var(--SmartThemeBotMesBlurTintColor);
    border-color: var(--stat-us-border-color) !important;
}

#stat-us-max-popup-multi-char {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#stat-us-max-popup-multi-char,
.popup:has(.stat-us-max-popup),
.stat-us-max-custom-css {
    /*  # TODO
        - [ ] Shade closed entry drawers - filter: grayscale(0.5) brightness(0.6);
    */

    --stat-us-border-color: var(--SmartThemeBorderColor);
    --stat-us-avatar-height: var(--avatar-base-height);
    --stat-us-avatar-border-radius: 50%;

    select {
        color: color-mix(in srgb, var(--SmartThemeBodyColor) 50%, transparent);
    }

    .stat-us-max-popup:not(.multi-char-popup) {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .stat-us-max-popup {
        padding: 10px;
        border: 1px solid;
        border-color: var(--stat-us-border-color) !important;
        background-color: var(--SmartThemeBlurTintColor);
    }

    .avatar {
        flex: 0;
        aspect-ratio: 1 / 1;
        width: auto;
        height: var(--stat-us-avatar-height) !important;

        img {
            aspect-ratio: 1 / 1;
            width: auto;
            object-position: top;
            height: var(--stat-us-avatar-height) !important;
            border-color: var(--stat-us-border-color) !important;
            border-radius: var(--stat-us-avatar-border-radius) !important;
        }
    }

    .border {
        border: 1px solid;
        border-color: var(--stat-us-border-color) !important;
        padding: 5px 10px;
    }

    .text_pole,
    select,
    .menu_button {
        border-color: var(--stat-us-border-color) !important;
    }

    .d-flex {
        display: flex;
        gap: 10px;
    }

    .flex-center {
        justify-content: center;
        align-items: center;
    }

    .flex-center-start {
        justify-content: flex-start;
        align-items: center;
    }

    .flex-col {
        flex-direction: column;
    }

    .fw-bolder {
        font-weight: bolder;
    }

    .w-100 {
        width: 100%;
    }

    .mw-15 {
        max-width: 15%;
    }

    .mw-25 {
        max-width: 25%;
    }

    .big-button {
        padding: 5px 20px;
    }

    .flex-grow-1 {
        flex-grow: 1;
    }

    div.label {
        flex-grow: 1;
    }

    .p-0 {
        padding: 0;
    }

    .pt-5px {
        padding-top: 5px;
    }

    .py-5px {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .px-5px {
        padding-left: 5px;
        padding-right: 5px;
    }

    .m-0 {
        margin: 0;
    }

    .gap-5px {
        gap: 5px;
    }

    .inline-drawer {
        border: 1px solid;
        border-color: var(--stat-us-border-color) !important;
        padding: 5px 10px;
        background-color: var(--SmartThemeBotMesBlurTintColor);
    }

    .inline-drawer-header:hover {
        filter: brightness(1.5) saturate(1.75) invert(25%);
        border-color: invert(var(--stat-us-border-color)) !important;
    }

    .kill-switch.fa-toggle-on {
        color: var(--SmartThemeQuoteColor);
    }

    .kill-switch {
        font-size: x-large;
    }

    .stat-us-max-popup-row {
        justify-content: space-between;
        align-items: flex-start;
    }

    .flex-self-center {
        align-self: center;
    }

    .mb-5px {
        padding-bottom: 5px;
    }

    .separator-bottom {
        border-bottom: 1px solid;
        border-bottom-color: color-mix(in srgb, var(--stat-us-border-color) 50%, transparent) !important;
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-radius: 0;
    }
}
