:root {
    --stum-input-label-display: block;
    --stum-range-input-width: auto;
    --stum-custom-save-color: var(--SmartThemeBlurTintColor);
    --stum-save-state-color: var(--stum-custom-save-color);
}

@keyframes stumcaretblink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.mes[is_user="true"] .stat-us-maximus-custom-css {
    --stat-us-show-spaces-color: color-mix(in srgb, var(--SmartThemeUserMesBlurTintColor), var(--SmartThemeQuoteColor) 12%);
}

@media screen and (max-width: 1000px) {
    .popup.wide_dialogue_popup:has(.stat-us-maximus-popup) {
        width: 97vw !important;
    }
}

@media screen and (min-width: 1000px) {
    .popup.wide_dialogue_popup:has(.stat-us-maximus-popup) {
        width: 90vw !important;
    }
}

.popup:has(.stat-us-maximus-popup) {
    background-color: color-mix(in srgb, var(--SmartThemeBlurTintColor) 100%, black 40%);
}

#rm_group_members .avatar img {
    cursor: pointer;
}

.stat-us-maximus-popup {
    background-color: var(--SmartThemeBotMesBlurTintColor);
}

.stat-us-maximus-popup[is_user="true"] {
    background-color: var(--SmartThemeUserMesBlurTintColor);

    .stat-us-maximus-popup-row {
        background-color: color-mix(in srgb, var(--SmartThemeUserMesBlurTintColor), var(--black30a));
    }
}

.stat-us-maximus-popup.bordered-box {
    padding: 5px 10px;
    border: solid 1px var(--SmartThemeBorderColor);
}

.stat-us-maximus-custom-css {
    --stat-us-border-color: var(--SmartThemeBorderColor);
    --stat-us-avatar-height: var(--avatar-base-height);
    --stat-us-avatar-border-radius: 50%;
    --stat-us-separator-bottom: linear-gradient(90deg, var(--transparent), color-mix(in srgb, var(--SmartThemeBodyColor), transparent 80%), var(--transparent)) 1;
    --stat-us-show-spaces-color: color-mix(in srgb, var(--SmartThemeBotMesBlurTintColor), var(--SmartThemeQuoteColor) 12%);

    .fa-floppy-disk {
        --stum-custom-save-color: var(--SmartThemeBlurTintColor);

        background-color: var(--stum-save-state-color);
    }

    .fa-floppy-disk.bg-bot {
        --stum-custom-save-color: var(--SmartThemeBotMesBlurTintColor);

        background-color: var(--stum-save-state-color);
    }

    .d-none {
        display: none !important;
    }

    .d-contents {
        display: contents;
    }

    .d-inline {
        display: inline;
    }

    .d-inline-flex {
        display: inline-flex;
    }

    .d-table {
        display: table;
    }

    .break-spaces {
        white-space: break-spaces;
    }

    .flex-container {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }

    .flex-column {
        flex-direction: column;
	    align-items: normal;
    }

    .flex-center {
        justify-content: center;
        align-items: center;
    }

    .flex-center-row {
        justify-content: flex-start;
        align-items: center;
    }

    .flex-center-col {
        justify-content: center;
        align-items: flex-start;
    }

    .flex-center-between {
        justify-content: space-between;
        align-items: center;
    }

    .flex-grow-1 {
        flex-grow: 1;
    }

    .gap-0 {
        gap: 0;
    }

    .gap-5px {
        --gap-size: 5px;
        gap: var(--gap-size) !important;
    }

    .gap-15px {
        gap: 15px;
    }

    .w-100 {
        width: 100%;
    }

    .mw-fit {
        max-width: fit-content;
    }

    .mw-25 {
        max-width: 25%;
    }

    .p-0 {
        padding: 0;
    }

    .p-5px {
        padding: 5px;
    }

    .p-15px {
        padding: 15px;
    }

    .pb-5px {
        padding-bottom: 5px;
    }

    .pe-5px {
        padding-right: 5px;
    }

    .px-5px {
        padding-left: 5px;
        padding-right: 5px;
    }

    .py-5px {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .px-15px {
        padding-left: 15px;
        padding-right: 15px;
    }

    .m-0 {
        margin: 0;
    }

    .mt-5px {
        margin-top: 5px;
    }

    .ms-15px {
        margin-left: 15px;
    }

    .me-5px {
        margin-right: 5px;
    }

    .mb-5px {
        margin-bottom: 5px;
    }

    .text-quote {
        color: var(--SmartThemeQuoteColor);
    }

    .text-body {
        color: var(--SmartThemeBodyColor);
    }

    .text-muted {
        color: color-mix(in srgb, currentColor 85%, black);
    }

    .text-nowrap {
        text-wrap-mode: nowrap
    }

    .disabled {
        color: color-mix(in srgb, currentColor 40%, black);

        .text-line,
        .chat-input-editor {
            pointer-events: none;
        }
    }

    .hover-highlight:not(.disabled):hover {
        filter: brightness(1.25) saturate(1.25);
        border-color: invert(var(--stat-us-border-color)) !important;
        color: currentColor;
    }

    .fs-90p {
        font-size: calc(var(--mainFontSize) * 0.9);
    }

    .fs-lr {
        font-size: larger;
    }

    .fw-bolder {
        font-weight: bolder;
    }

    .lh-normal {
        line-height: normal;
    }

    select.fs-ellipsis {
        padding-right: 2ch;
    }

    select.fs-ellipsis option,
    .fs-ellipsis {
        flex: 1 1 auto;
        white-space: nowrap;
        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        display: block;
    }

    .separator-bottom {
        border-bottom: 1px solid;
        border-image: var(--stat-us-separator-bottom) !important;
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-radius: 0;
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .inline-drawer.bg-bot .inline-drawer-header {
        background-color: color-mix(in srgb, var(--SmartThemeBotMesBlurTintColor), var(--black30a));
    }

    .inline-drawer.bg-user .inline-drawer-header {
        background-color: color-mix(in srgb, var(--SmartThemeUserMesBlurTintColor), var(--black30a));
    }

    .kill-switch.fa-toggle-on {
        color: var(--SmartThemeQuoteColor);
    }

    .stat-us-maximus-entries-list > :first-child {
        padding-top: 5px;
    }

    .stat-us-maximus-entries-list > :last-child {
        padding-bottom: 5px;
    }

    .stat-us-maximus-avatar {
        aspect-ratio: 1 / 1;
        width: var(--avatar-base-width);
        object-fit: cover;
        border-radius: 5px;
    }

    .stat-us-maximus-popup-row {
        background-color: color-mix(in srgb, var(--SmartThemeBotMesBlurTintColor), var(--black30a));
    }

    .stat-us-maximus-popup-row:last-child {
        margin-bottom: 5px;
    }

    .bg-bot {
        background-color: var(--SmartThemeBotMesBlurTintColor);
    }

    .bg-user {
        background-color: var(--SmartThemeUserMesBlurTintColor);
    }

    .border {
        border: solid;
        border-width: 1px;
        border-color: var(--stat-us-border-color) !important;
    }

    .border-top {
        border: solid;
        border-width: 1px 0 0 0;
        border-color: var(--stat-us-border-color) !important;
    }

    .opacity-60 {
        opacity: 60%;
    }

    .disabled {
        color: color-mix(in srgb, currentColor, black 25%);

        .stat-us-maximus-entry-paragraph {
            pointer-events: none;
        }

        .status-separator,
        .status-description {
            display: none;
        }
    }

    input[data-type="range"].chat-input-editor {
        display: inline-flex;
        vertical-align: middle;
        min-width: 5ch;
        width: var(--stum-range-input-width);
        max-width: unset;
        height: 1ch;
        border-radius: 5px !important;
    }

    input[data-type="range"].chat-input-editor:focus {
        background: var(--SmartThemeQuoteColor);
    }

    .fake-input {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        opacity: 0;
        margin: 0;
        padding: 0;
        border: none;
        background: transparent;
        caret-color: transparent;
    }

    .fake-selection {
        background-color: var(--SmartThemeBodyColor);
        color: var(--SmartThemeBlurTintColor);
    }

    .fake-caret {
        display: inline-block;
        position: absolute;
        transform: translateY(0.1em);
        width: 1px;
        height: 1em;
        background-color: var(--SmartThemeBodyColor);
        animation: stumcaretblink 1s steps(1) infinite;
        opacity: 1;
    }

    .text-line {
        display: inline;
    }

    .text-line.value.show-spaces {
        background-color: var(--stat-us-show-spaces-color);
        font-family: monospace;
    }

    .text-line.value {
        white-space: break-spaces;
    }

    .text-line.value[data-empty]::after {
        content: "...";
        color: color-mix(in srgb, var(--SmartThemeQuoteColor) 50%, transparent);
    }

    .no-select {
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    .square-ratio {
        aspect-ratio: 1 / 1;
    }

    .bordered-box {
        padding: 5px;
        border: solid 1px var(--SmartThemeBorderColor);
    }

    .status-value-uid-options * {
        border-radius: 0;
    }

    .status-value-uid-options {
        display: none;
    }

    .status-value-uid-options[data-show] {
        display: block;
        z-index: 40;
        overflow-y: scroll;
        max-height: 15vh;
    }

    .status-input-label {
        display: var(--stum-input-label-display);
    }
}

@media screen and (min-width: 1440px) {
    .stat-us-maximus-custom-css {
        .flex-lg-row {
            flex-direction: row;
            align-items: center;
        }

        .mw-lg-fit {
            max-width: fit-content;
        }
    }
}