<div class="stat-us-maximus-custom-css stat-us-maximus-chat-drawer">
	<div class="inline-drawer border text-body w-100 gb-dark mt-5px">
		<div class="inline-drawer-toggle inline-drawer-header gap-15px p-5px px-15px">
            <div class="flex-container flex-center-between w-100">
                <span>
                    <span class="stat-us-maximus-chat-title-prefix">Status - </span>
                    <span class="stat-us-maximus-chat-title text-quote"></span>
                </span>

                <div class="flex-container flex-center stat-us-maximus-toolbar">
                    <div class="menu_button menu_button_icon fa-solid fa-power-off togglable interactable m-0 px-10px kill-switch" title="Toggle the active state of the whole status block." data-i18n="[title]Toggle the active state of the whole status block."></div>
                    <div class="menu_button menu_button_icon fa-solid fa-arrows-rotate interactable m-0 px-10px" title="Refresh the block display and macros" data-i18n="[title]Refresh the block display and macros"></div>
                    <div class="menu_button menu_button_icon fa-solid fa-floppy-disk interactable m-0 px-10px" title="Force StatUs metadata to save" data-i18n="[title]Force StatUs metadata to save"></div>
                    <div class="menu_button menu_button_icon fa-solid fa-pen interactable m-0" title="Edit StatUs entries" data-i18n="[title]Edit StatUs entries"></div>
                    <div class="inline-drawer-icon fa-solid interactable text-quote m-0"></div>
                </div>
            </div>
		</div>

		<div class="inline-drawer-content border-top">
            <div class="flex-container flex-column gap-0 stat-us-maximus-entries-list"></div>
        </div>
    </div>
</div>