<div class="flex-container flex-center">
    <form class="stat-us-maximus-form d-none"></form>

    <div class="flex-container flex-center-row gap-15px fs-90p text-muted hover-highlight w-100 px-15px">
        <div class="fa-solid fa-toggle-on kill-switch fs-lr cursor-pointer" title="Toggle entry's active state" data-i18n="[title]Toggle entry's active state"></div>

        <p class="text-left flex-grow-1 m-0 d-table break-spaces px-5px">
            <span class="status-title fw-bolder d-contents"></span>
            <span class="status-separator"></span>
            <span class="status-description d-contents"></span>
        </p>

        <div class="status-value-uid fa-solid fa-bars-progress cursor-pointer text-quote fs-lr m-0" aria-describedby="tooltip" title="Swap entry description" data-i18n="[title]Swap entry description"></div>
    </div>
</div>