<div class="stat-us-maximus-custom-css stat-us-maximus-popup flex-container flexFlowColumn gap5px bordered-box">
    <div class="flex-container flex-column flex-center-col gap-5px">
        <span class="stat-us-maximus-name text-quote"></span>

        <div class="flex-container flex-center-row w-100">
            <img class="stat-us-maximus-avatar" src="" alt="Avatar" title="Avatar">

            <div class="flex-container flex-center-row flex-grow-1 status-fields">
                <select class="text_pole flex1 m-0 mw-fit" name="role"></select>
                <input class="text_pole flex1 m-0" type="number" name="force_depth" min="0" autocomplete="off">
                <input class="text_pole flex1 m-0" type="text" name="separator" autocomplete="off">
                <input class="text_pole flex1 m-0" type="text" name="def_entry_separator" autocomplete="off">
                <input class="text_pole flex1 m-0" type="text" name="prefix" autocomplete="off">
                <input class="text_pole flex1 m-0" type="text" name="suffix" autocomplete="off">
            </div>

            <div class="flex-container flex-center-row">
                <div class="menu_button menu_button_icon fa-fw interactable m-0 fa-solid fa-plus"></div>
                <div class="menu_button menu_button_icon fa-fw interactable m-0 fa-solid fa-compress"></div>
                <div class="menu_button menu_button_icon fa-fw interactable m-0 fa-solid fa-expand"></div>
                <div class="menu_button menu_button_icon fa-fw interactable m-0 fa-solid fa-truck-arrow-right"></div>
                <div class="menu_button menu_button_icon fa-fw interactable m-0 fa-solid fa-trash-can redWarningBG"></div>
            </div>
        </div>
    </div>

    <div class="flex-container flex-column flex-center-col gap-5px status-entries"></div>
</div>