<div class="stat-us-maximus-popup-row flex-container flex-column flex-center-col gap-5px inline-drawer w-100">
    <div class="inline-drawer-header flex-center gap-5px p-0 w-100">
        <span class="drag-handle fa-solid fa-bars"></span>
        <div class="inline-drawer-toggle fa-fw fa-solid fa-circle-chevron-down inline-drawer-icon down interactable"></div>
        <div class="fa-solid fa-toggle-on kill-switch"></div>

        <div class="flex-container flex-center-row gap-5px flex-grow-1">
            <input class="text_pole flex1 m-0" type="text" name="key" autocomplete="off">
            <input class="text_pole flex1 m-0" type="text" name="separator" autocomplete="off">
        </div>

        <div class="menu_button fa-fw fa-solid fa-trash-can redWarningBG interactable delete-row"></div>
    </div>

    <div class="inline-drawer-content flex-column flex-center-col gap-5px p-0 w-100">
        <div class="flex-container flex-center-row gap-5px w-100">
            <select class="text_pole flex1 m-0" name="value_uid"></select>
            <input class="text_pole flex1 m-0" type="text" name="title" autocomplete="off">
        </div>

        <textarea class="text_pole flex1 m-0" type="text" name="value" autocomplete="off" rows="4"></textarea>
    </div>
</div>