<div class="stat-us-maximus-custom-css stat-us-maximus-popup stat-us-maximus-popup-empty flex-container flexFlowColumn gap5px bordered-box">
    <div class="flex-container flex-column flex-center-col gap-5px">
        <div class="flex-container flex-center w-100">
            <img class="stat-us-maximus-avatar" src="" alt="Avatar" title="Avatar">
            <span class="stat-us-maximus-name text-quote"></span>

            <div class="flex-container flex-center-row status-toolbar">
                <div class="menu_button menu_button_icon fa-fw interactable ms-15px create-status" title="It will create blank status for the character.">
                    <i class="fa-solid fa-plus"></i>
                    <span>Add Status Data</span>
                </div>
            </div>
        </div>
    </div>
</div>