<div class="stat-us-maximus-custom-css stat-us-maximus-popup flex-container flexFlowColumn gap5px bordered-box">
    <span class="transfer-popup-title text-quote fw-bolder"></span>

    <label class="flex-container">
        <input type="checkbox" class="text_pole m-0 transfer-only-entries">
        <span>Transfer only entries</span>
    </label>

    <label class="flex-container">
        <input type="checkbox" class="text_pole m-0 keep-original-data">
        <span>Only copy - Transfer without deleting original data</span>
    </label>

    <select class="text_pole flex-grow-1 px-5px m-0 fs-ellipsis"></select>
</div>