<div class="stat-us-maximus-custom-css flex-container flexFlowColumn flexnowrap gap0 padding0 paddingLeftRight5 standoutHeader" style="justify-content: space-between">
    <small class="paddingTop5">Stat-us-Maximus</small>

    <div class="stat-us-maximus-right-menu-settings flex-container flex-column gap-5px">
        <label class="flex-container">
            <input name="allow_private" type="checkbox" />
            <small>Allow private entries</small>
        </label>
    </div>

    <div class="stat-us-maximus-right-menu-toolbar flex-container flexnowrap gap-5px p-0">
        <div class="menu_button flex1 bg-bot fa-solid fa-floppy-disk" role="button" type="save"></div>
        <div class="menu_button flex1 bg-bot fa-solid fa-table" role="button" type="characters"></div>
        <div class="menu_button flex1 bg-bot fa-solid fa-user-cog" role="button" type="user"></div>
        <div class="menu_button flex1 bg-bot fa-solid fa-users-cog" role="button" type="users"></div>
    </div>
</div>